.header,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB
}

.subtext {
    font-size: 20px;
}

.body1 {
    background-color: white;
    color: #882F6
}

.body2 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}